.pageContent {
  margin: 30px;
  display: flex;
  flex-direction: column;
  height: 500px;
  text-align: center;
  align-items: center;
}

.pageTitle {
  padding: 10px;
  font-size: x-large;
  text-decoration-line: underline;
}

.information {
  padding: 10px;
}
.information label {
  display: block;
  margin-bottom: 10px;
}

.inputText {
  width: 480px;
  height: 30px;
  border-radius: 25px;
  border: 2px solid black;
  padding: 1px 10px;
  text-align: center;
}

.signUpBtn {
  border-radius: 25px;
  border: 2px solid black;
  width: 240px;
  height: 42px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: bold;
  cursor: pointer;
  background: rgb(1, 0, 53);
  background: linear-gradient(rgba(1, 0, 53, 1) 0%, rgba(52, 168, 224, 1) 100%);
  color: white;
  padding: 7px;
}

.signUpBtn:hover {
  text-decoration: underline;
}
