.container {
  display: flex;
  justify-content: center;
}

.searchBar {
  width: 480px;
  height: 30px;
  border-radius: 25px;
  border: 2px solid black;
  padding: 1px 10px;
}

.choicesList {
  margin-top: 35px;
  width: 500px;
  max-height: 200px;
  overflow-y: scroll;
  background-color: #f8f8f8;
  position: absolute;
  border-radius: 25px;
  border: 1px solid black;
  z-index: 999;
  padding: 10px;
}

.choicesList::-webkit-scrollbar {
  display: none;
}

.choice {
  cursor: pointer;
}

/* Smartphone adaptation */
@media only screen and (max-width: 800px) {
  .searchBar {
    width: 90%;
  }

  .choicesList {
    width: 90%;
  }
}
