.detailTable,
.detailTable th,
.detailTable tr {
  border-collapse: collapse;
  width: 100%;
}

.detailTable tr th {
  border: 1px solid black;
  padding: 10px;
  width: 33%;
  text-align: center;
  background: rgb(1, 0, 53);
  background: linear-gradient(rgba(1, 0, 53, 1) 0%, rgba(52, 168, 224, 1) 100%);
  color: white;
}

.detailTable tr td {
  border: 1px solid black;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 33%;
  text-align: center;
}

.highlightLine {
  background-color: #f0f0f0;
}

.firstCol {
  font-weight: bold;
}

.stationName {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: large;
  margin-bottom: 20px;
}

.titleStation {
  display: flex;
}

.addFavoriteStation {
  font-size: 20px;
  color: forestgreen;
  cursor: pointer;
}
.removeFavoriteStation {
  font-size: 20px;
  color: rgb(216, 48, 59);
  cursor: pointer;
}

/* Smartphone adaptation */
@media only screen and (min-width: 800px) {
  .detailTable tr th {
    padding: 10px;
  }

  .detailTable tr td {
    padding: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .detailTable tr th {
    font-size: 11px;
  }

  .detailTable tr td {
    font-size: 11px;
  }
}
