.pageContent {
  margin: 30px;
  display: flex;
  flex-direction: column;
  height: 500px;
  text-align: center;
  align-items: center;
}

.pageTitle {
  padding: 10px;
  font-size: x-large;
  text-decoration-line: underline;
}
